<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
        <handlers>
            <remove name="WebDAV" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Main Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="httpHandler.do" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="HttpHandler.do" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="PUT" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".properties" mimeType="application/l10n" />
        </staticContent>
    </system.webServer>
</configuration>